{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Detalle del Alojamiento</title>
</head>

<body class="fondo">
    {% include 'includes/cabecera.html' %}
    <div class="contenedor">
        <div class="subContenedor">
            <div class="container">



                <h1 class="mt-5">Manual de ayuda:</h1>

                <h2 class="mt-4">MI CUENTA</h2>

                <div class="mb-4">
                    <h5 class="mt-4">No puedo iniciar sesión</h5>
                    <p>
                        Si no puedes iniciar sesión, pulsa en "Recuperar contraseña" debajo del apartado de iniciar
                        sesión
                        donde pones tu correo y contraseña. Te llegará un correo electrónico para recuperar tu
                        cuenta.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero crear una cuenta</h5>
                    <p>
                        ¡Estupendo! Para crear una cuenta, ve al apartado de iniciar sesión y debajo del botón de
                        inicio de
                        sesión encontrarás un texto que dice "¿No tienes cuenta? Crea una.". Haz clic en "crea una"
                        y sigue los
                        pasos para registrarte.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero cerrar sesión</h5>
                    <p>
                        Para cerrar sesión, necesitarás estar con tu cuenta iniciada. Una vez dentro de la web,
                        arriba a la
                        derecha encontrarás 3 apartados: "Contacto", "Cerrar sesión" y "Viajes". Haz clic en "Cerrar
                        sesión".
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero borrar mi cuenta</h5>
                    <p>
                        Para borrar tu cuenta, deberás llamar a nuestro número de contacto 999 888 777 o
                        contactarnos por correo
                        electrónico en valegio@support.com. Proporciona tus datos para que podamos realizar la
                        cancelación de
                        cuenta.
                    </p>
                </div>

                <h2 class="mt-4">RESERVAS</h2>

                <div class="mb-4">
                    <h5 class="mt-4">¿Cómo puedo ver mis reservas realizadas?</h5>
                    <p>
                        Para ver las reservas que tienes, necesitas estar con tu cuenta iniciada. Una vez dentro de
                        la web,
                        arriba a la derecha encontrarás 3 apartados: "Contacto", "Cerrar sesión" y "Viajes". Haz
                        clic en
                        "Viajes" y ahí encontrarás todos los viajes que tienes reservados.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">¿Cómo realizo una reserva?</h5>
                    <p>
                        Para realizar una reserva, necesitas estar con la cuenta iniciada. En la interfaz de la web,
                        rellena
                        todos los campos, desde donde quieres viajar a qué lugar con sus fechas exactas. Luego,
                        encontrarás
                        alojamientos disponibles. Haz clic en el que más te interese a la derecha. Algunos campos
                        pueden ser
                        obligatorios y otros no. Después, haz clic en "Enviar" y pasarás a la pestaña de pago. Una
                        vez realizado
                        el pago, estarás en la pestaña de viajes con la reserva realizada, siempre y cuando no hayas
                        tenido
                        ningún problema. Si el problema persiste, puedes contactarnos en valegio@support.com para
                        obtener ayuda.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero cancelar mi reserva</h5>
                    <p>
                        Si quieres cancelar tu reserva, deberás llamar a nuestro número de contacto 999 888 777 o
                        contactarnos
                        por correo electrónico en valegio@support.com. Proporciona tus datos para que podamos
                        realizar la
                        cancelación de reserva.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero cambiar mi reserva</h5>
                    <p>
                        Si quieres cambiar tu reserva, deberás llamar a nuestro número de contacto 999 888 777 o
                        contactarnos
                        por correo electrónico en valegio@support.com. Proporciona tus datos para que podamos
                        realizar el cambio
                        de reserva. Ten en cuenta que al cambiar la reserva, los precios pueden variar o ciertas
                        opciones pueden
                        no estar disponibles.
                    </p>
                </div>

                <h2 class="mt-4">SOBRE VALEGIO</h2>

                <div class="mb-4">
                    <h5 class="mt-4">¿Qué es VALEGIO?</h5>
                    <p>
                        VALEGIO es una nueva web que te facilitará realizar una reserva de tus viajes de la manera
                        más sencilla,
                        rápida y económica posible. Dentro de nuestra web, podrás navegar y comparar precios con
                        otras páginas de
                        reservas de viajes. Comprobarás que la nuestra es la más intuitiva, rápida y económica en el
                        mercado.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Información de contacto</h5>
                    <p>
                        Si quieres contactar con nosotros, puedes llamar a nuestro número de contacto 999 888 777 o
                        contactarnos por correo electrónico en valegio@support.com. ¡Te responderemos lo más rápido
                        posible!
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Bug u otros problemas</h5>
                    <p>
                        Si estás experimentando algún problema con la web, no dudes en contactarnos a nuestro número
                        de
                        contacto 999 888 777 o por correo electrónico en valegio@support.com. Haremos todo lo
                        posible por
                        solucionar el problema rápidamente.
                    </p>
                </div>

                <h2 class="mt-4">PAGOS</h2>

                <div class="mb-4">
                    <h5 class="mt-4">Me rechaza la tarjeta de crédito</h5>
                    <p>
                        Si tienes problemas para realizar un pago de una reserva y te rechaza el pago, verifica que
                        tienes saldo
                        suficiente. Si tienes suficiente saldo pero sigues teniendo problemas, llama a nuestro
                        número de contacto
                        999 888 777 o contactarnos por correo electrónico en valegio@support.com para intentar
                        solucionar el
                        problema.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">¿Puedo pagar en efectivo?</h5>
                    <p>
                        No, lamentablemente solo aceptamos pagos con tarjeta de crédito.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">¿El pago es seguro?</h5>
                    <p>
                        Por supuesto, el pago es seguro y no guardamos ningún dato ni de tu tarjeta ni de tus datos
                        personales.
                    </p>
                </div>

                <h2 class="mt-4">PREGUNTAS FRECUENTES</h2>

                <div class="mb-4">
                    <h5 class="mt-4">¿Qué es VALEGIO?</h5>
                    <p>
                        VALEGIO es una nueva web que te facilitará realizar una reserva de tus viajes de la manera
                        más sencilla,
                        rápida y económica posible. Dentro de nuestra web, podrás navegar y comparar precios con
                        otras páginas de
                        reservas de viajes. Comprobarás que la nuestra es la más intuitiva, rápida y económica en el
                        mercado.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Bug u otros problemas</h5>
                    <p>
                        Si estás experimentando algún problema con la web, no dudes en contactarnos a nuestro número
                        de contacto
                        999 888 777 o por correo electrónico en valegio@support.com. Haremos todo lo posible por
                        solucionar el
                        problema rápidamente.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero cancelar mi reserva</h5>
                    <p>
                        Si quieres cancelar tu reserva, deberás llamar a nuestro número de contacto 999 888 777 o
                        contactarnos
                        por correo electrónico en valegio@support.com, para que nos facilites tus datos y poder
                        realizar la
                        cancelación de reserva.
                    </p>
                </div>

                <div class="mb-4">
                    <h5 class="mt-4">Quiero borrar mi cuenta</h5>
                    <p>
                        Para borrar tu cuenta, deberás llamar a nuestro número de contacto 999 888 777 o
                        contactarnos por correo
                        electrónico en valegio@support.com, para que nos facilites tus datos y podamos realizar la
                        cancelación de
                        cuenta.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>