{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Detalle del Viaje</title>
</head>

<body class="fondo">
    {% include 'includes/cabecera.html' %}
    <div class="contenedor">
        <div class="subContenedor">
            <div class="contenedor-wrapper">
                <h1>Destino</h1>
            </div>
            <div class="contenedor-wrapper">
                <div class="contenedor3">
                    <h2>{{ viaje.alojamiento.destino.nombre }}</h2>
                    <p>{{ viaje.alojamiento.destino.descripcion }}</p>
                    <div class="fotoDestino"style="text-align: center;">
                        <img src="{{ viaje.alojamiento.destino.foto.url }}" alt="" width="70%">
                    </div>
                </div>
            </div>
        </div>
        <div class="subContenedor">
            <div class="contenedor-wrapper">
                <h1>Alojamiento</h1>
            </div>
            <div class="contenedor-wrapper">
                <div class="contenedor3">
                    <h2>{{ viaje.alojamiento.nombre }}</h2>
                    <div class="info-piso">
                        <b><span class="icoHuespedes"></span> {{ viaje.alojamiento.nhuespedes }} Huéspedes</b>
                        <b><span class="icoCamas"></span> {{ viaje.alojamiento.nhabitaciones }} Habitaciones</b>
                        <b><span class="icoBanos"></span> {{ viaje.alojamiento.nbanos }} Baños</b>
                    </div><br>
                    <p><b>Descripción: </b>{{ viaje.alojamiento.descripcion }}</p>
                    <ul>
                        <li><b>Tipo: </b>{{ viaje.alojamiento.tipo }}</li>
                        <li><b>Destino: </b>{{ viaje.alojamiento.destino }}</li>
                        <li><b>Precio: </b>{{ viaje.alojamiento.precio }} € / noche</li>
                    </ul>
                    <div id="carouselExampleIndicators" class="carousel slide my-carousel" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            {% for foto in viaje.alojamiento.foto_set.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ foto.foto.url }}" class="d-block w-100" alt="Foto">
                            </div>
                            {% endfor %}
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if viaje.desplazamientoIda %}
        <div class="subContenedor">
            <div class="contenedor-wrapper">
                <h1>Ida</h1>
            </div>
            <div class="contenedor-wrapper">
                <div class="contenedor33">
                    <div class="text-contenedor"> <!-- Nuevo contenedor para el texto -->
                        <h2>{{ viaje.desplazamientoIda.nombre }}</h2>
                        <h3>Fecha salida: {{ viaje.salida}}</h3><br>
                        <ul>
                            <li><b>Origen: </b>{{ viaje.desplazamientoIda.origen}}</li>
                            <li><b>Destino: </b>{{ viaje.desplazamientoIda.destino}}</li>
                            <li><b>Precio por persona: </b>{{ viaje.desplazamientoIda.precio}}€</li>
                        </ul>
                    </div>
                    <div class="imagen-contenedor"> <!-- Nuevo contenedor para la imagen -->
                        <img src="{{viaje.desplazamientoIda.foto.url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if viaje.desplazamientoVuelta %}
        <div class="subContenedor">
            <div class="contenedor-wrapper">
                <h1>Vuelta</h1>
            </div>
            <div class="contenedor-wrapper">
                <div class="contenedor33">
                    <div class="text-contenedor"> <!-- Nuevo contenedor para el texto -->
                        <h2>{{ viaje.desplazamientoVuelta.nombre }}</h2>
                        <h3>Fecha salida: {{ viaje.llegada}}</h3><br>
                        <ul>
                            <li><b>Origen: </b>{{ viaje.desplazamientoVuelta.origen}}</li>
                            <li><b>Destino: </b>{{ viaje.desplazamientoVuelta.destino}}</li>
                            <li><b>Precio por persona: </b>{{ viaje.desplazamientoVuelta.precio}}€</li>
                        </ul>
                    </div>
                    <div class="imagen-contenedor"> <!-- Nuevo contenedor para la imagen -->
                        <img src="{{viaje.desplazamientoVuelta.foto.url}}" alt="">
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if viaje.paquete %}
        <div class="subContenedor">
        <div class="contenedor-wrapper">
            <h1>Paquete</h1>
        </div>
        <div class="contenedor-wrapper">
            <div class="contenedor33">
                <div class="text-contenedor"> <!-- Nuevo contenedor para el texto -->
                    <h2>{{ viaje.paquete.nombre }}</h2>
                    <h3>Descripción:</h3>
                    <p>{{viaje.paquete.descripcion}}</p>
                </div>
                <div class="imagen-contenedor"> <!-- Nuevo contenedor para la imagen -->
                    <img src="{{viaje.paquete.foto.url}}" alt="">
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <a href="{% url 'verViajes' %}">Volver a la lista de viajes</a>
</body>

</html>