{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Viajes Valegio</title>
</head>

<body class="fondo">
    {% include 'includes/cabecera.html' %}
    <div class="contenedor">
        <div class="subContenedor shadow">
            <div class="contenedor-wrapper">
                <h1>Viajes</h1>
            </div>
            <div class="contenedor-wrapper">
                {% for v in viajes %}
                <div class="contenedor2">
                    <table class="tablaViajes">
                        <tr>
                            <th>Alojamiento</th>
                            <th>Ida</th>
                            <th>Vuelta</th>
                            <th>Paquete</th>
                            <th>Precio Total</th>
                            <th></th>
                        </tr>
                        <tr>
                            <td>{{ v.alojamiento.nombre }}</td>
                            <td>{{ v.salida|date:"d-m-Y" }} {{v.desplazamientoIda.vehiculo}}</td>
                            <td>{{ v.llegada|date:"d-m-Y" }} {{v.desplazamientoVuelta.vehiculo}}</td>
                            {% if v.paquete %}
                                <td>{{ v.paquete.nombre }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                            <td>{{ v.precioTotal }}€</td>
                            <td><a href="{% url 'detalle_viaje' id=v.id %}">Ver detalles</a></td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>