{% load static %}
<!DOCTYPE html>
<html lang="es">
<!-- {% for p in paquetes %}<p>-</p><li>{{p.nombre}} - {{p.descripcion}} {{p.precio}}</li>{% endfor %} -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Viajes Valegio</title>
</head>

<body>
    {% include 'includes/cabecera.html' %}
    <div class="contenedor">
        <div class="formulario shadow ">
            <form action="confViaje/" method="POST">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                        <label for="origen">Desde:</label>
                        <input type="search" name="origen" placeholder="Origen" list="destinos">
                        <label for="destino">a:</label>
                        <input type="search" name="destino" placeholder="Destino" list="destinos">
                    </div>
                    <div class="col-sm">
                        <label for="salida">Salida</label>
                        <input type="date" name="salida">
                        <label for="salida">Llegada</label>
                        <input type="date" name="llegada">
                    </div>
                    <div class="col-sm">
                        <label for="salida">Viajeros</label>
                        <input type="number" min="1" name="viajeros">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
                <datalist id="destinos">
                    {% for d in destinos %}
                    <option value="{{ d.nombre }}">
                        {% endfor %}
                </datalist>
            </form>
        </div>
        <br>
        <form action="" method="get">
            {% csrf_token %}
            <div class="contenedor shadow ">
                <div class="contenedor-wrapper">
                    <h1>Alojamientos</h1>
                </div>
                <div class="contenedor-wrapper">
                    {% for a in alojamientos %}
                    <div class="contenedor2 shadow">
                        <div class="col-4 carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for foto in a.foto_set.all %}
                                <div class="carousel-item active">
                                    <img src="{{ foto.foto.url }}" alt="Foto">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="col-4">
                            <p>- {{ a.nombre }}</p>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="alojamiento" id="">
                        </div>
                    </div> <br>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="contenedor shadow ">
                <div class="contenedor-wrapper">
                    <h1>Desplazamiento Ida</h1>
                </div>
                <div class="contenedor-wrapper">
                    {% for d in desplazamientosOrigen %}
                    <div class="contenedor2 shadow ">
                        <div class="col-4 photo">
                            <img src="/media/{{ d.foto }}" alt="">
                        </div>
                        <div class="col-4">
                            <p>-{{ d.nombre }} a {{ d.destino }}</p>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="despOrigen" id="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="contenedor shadow ">
                <div class="contenedor-wrapper">
                    <h1>Desplazamiento Vuelta</h1>
                </div>
                <div class="contenedor-wrapper">
                    {% for d in desplazamientosDestino %}
                    <div class="contenedor2 shadow ">
                        <div class="col-4 photo">
                            <img src="/media/{{ d.foto }}" alt="">
                        </div>
                        <div class="col-4">
                            <p>-{{ d.nombre }} a {{ d.destino }}</p>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="despVuelta" id="">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        </form>
        
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>

