{% load static %}
<!DOCTYPE html>
<html lang="es">
<!-- {% for p in paquetes %}<p>-</p><li>{{p.nombre}} - {{p.descripcion}} {{p.precio}}</li>{% endfor %} -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <title>Viajes Valegio</title>
</head>

<body>
    {% include 'includes/cabecera.html' %}
    <div class="formulario">
        <form action="confViaje/" method="POST">
            {% csrf_token %}
            <label for="origen">Desde:</label>
            <input type="search" name="origen" placeholder="Origen" list="destinos">
            <label for="destino">a:</label>
            <input type="search" name="destino" placeholder="Destino" list="destinos">
            <label for="salida">Salida</label>
            <input type="date" name="salida">
            <label for="salida">Llegada</label>
            <input type="date" name="llegada">
            <label for="salida">Viajeros</label>
            <input type="number" min="1" name="viajeros">
            <datalist id="destinos">
                {% for d in destinos %}
                <option value="{{ d.nombre }}">
                    {% endfor %}
            </datalist>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <br>
    <div class="container">
        <div class="container-wrapper">
            <h1>Alojamientos</h1>
        </div>
        <div class="container-wrapper">
            <div class="container2">
                {% for a in alojamientos %}
                <div class="photo">
                    {% for f in fotos %}
                    <img src="/media/{{ f.fotos }}" alt="">
                    {% endfor %}
                </div>
                <div class="data">
                    <p>- {{ a.nombre }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container-wrapper">
            <h1>Desplazamiento Ida</h1>
        </div>
        <div class="container-wrapper">
            <div class="container2">
                {% for d in desplazamientosOrigen %}
                <div class="photo">
                    <img src="/media/{{ d.foto }}" alt="">
                </div>
                <div class="data">
                    <p>-{{ d.nombre }} a {{ d.destino }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="container-wrapper">
            <h1>Desplazamiento Vuelta</h1>
        </div>
        <div class="container-wrapper">
            <div class="container2">
                {% for d in desplazamientosDestino %}
                <div class="photo">
                    <img src="/media/{{ d.foto }}" alt="">
                </div>
                <div class="data">
                    <p>-{{ d.nombre }} a {{ d.destino }}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>