{% load static %}
<!DOCTYPE html>
<html lang="es">
<!-- {% for p in paquetes %}<p>-</p><li>{{p.nombre}} - {{p.descripcion}} {{p.precio}}</li>{% endfor %} -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Viajes Valegio</title>
</head>
<body class="fondo">
    {% include 'includes/cabecera.html' %}
    <div class="d-flex justify-content-center align-items-center" style="min-height: 60vh">
        <div class="formulario shadow">
            <form action="../confViaje/" method="POST" onsubmit="return validarFormulario()">
                {% csrf_token %}
                <div class="row">
                    <div class="col-sm">
                        <label for="origen">Desde:</label>
                        <input type="search" name="origen" placeholder="Origen" list="destinos" id="origen">
                        <label for="destino">a:</label>
                        <input type="search" name="destino" placeholder="Destino" list="destinos" id="destino">
                    </div>
                    <div class="col-sm">
                        <label for="salida">Salida</label>
                        <input type="date" name="salida" id="salida" min="{{ today }}">
                        <label for="llegada">Llegada</label>
                        <input type="date" name="llegada" id="llegada" min="{{ today }}">
                    </div>
                    <div class="col-sm">
                        <label for="salida">Viajeros</label>
                        <input type="number" min="1" name="viajeros" id="viajeros">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
                <datalist id="destinos">
                    {% for d in destinos %}
                        <option value="{{ d.nombre }}">
                    {% endfor %}
                </datalist>
            </form>
        </div>
    </div>
</body>
<script>
    function validarFormulario() {
        var origen = document.getElementById("origen").value;
        var destino = document.getElementById("destino").value;
        var salida = document.getElementById("salida").value;
        var llegada = document.getElementById("llegada").value;
        var viajeros = document.getElementById("viajeros").value;

        if (origen === "" || destino === "" || salida === "" || llegada === "" || viajeros === "") {
            alert("Por favor, completa todos los campos antes de enviar el formulario.");
            return false;
        }

        return true;
    }

    // Obtener la fecha actual en formato YYYY-MM-DD
    var today = new Date().toISOString().split("T")[0];
    
    // Establecer la fecha mínima de salida y llegada
    document.getElementById("salida").setAttribute("min", today);
    document.getElementById("llegada").setAttribute("min", today);
    
    // Actualizar la fecha mínima de llegada cuando se selecciona una fecha de salida
    document.getElementById("salida").addEventListener("change", function() {
        var selectedDate = this.value;
        document.getElementById("llegada").setAttribute("min", selectedDate);
    });
</script>
</html>
