{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="es">
<!-- {% for p in paquetes %}<p>-</p><li>{{p.nombre}} - {{p.descripcion}} {{p.precio}}</li>{% endfor %} -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'viajes/css/estilos.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <title>Viajes Valegio</title>
</head>
<script>
    $(document).ready(function () {
        $('input[name="alojamiento"]').click(function () {
            $('input[name="alojamiento"]').not(this).prop('checked', false);
        });
        $('input[name="despIda"]').click(function () {
            $('input[name="despIda"]').not(this).prop('checked', false);
        });
        $('input[name="despVuelta"]').click(function () {
            $('input[name="despVuelta"]').not(this).prop('checked', false);
        });
    });
</script>

<body class="fondo">
    {% include 'includes/cabecera.html' %}
    <div class="contenedor">
        <form action="{% url 'guardarViaje' %}" method="GET" onsubmit="return validarFormulario()">
            {% csrf_token %}
            <div class="subContenedor shadow">
                <div class="contenedor-wrapper">
                    <h1>Alojamientos</h1>
                </div>
                <div class="contenedor-wrapper">
                    {% for a in alojamientos %}
                    <div class="contenedor2 shadow">
                        <div id="carouselExampleControls{{ a.id }}" class="col-4 carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                {% for foto in a.foto_set.all %}
                                <div class="carousel-item carousel-1 {% if forloop.first %}active{% endif %}">
                                    <img src="{{ foto.foto.url }}" alt="Foto">
                                </div>
                                {% endfor %}
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleControls{{ a.id }}" role="button"
                                data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleControls{{ a.id }}" role="button"
                                data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <div class="col-7">
                            <h3>{{ a.nombre }}</h3>
                            <h4>{{ a.precio }}€ / noche</h4>
                            <div class="info-piso">
                                <span class="icoHuespedes"></span> {{ a.nhuespedes }} Huéspedes
                                <span class="icoCamas"></span> {{ a.nhabitaciones }} Habitaciones
                                <span class="icoBanos"></span> {{ a.nbanos }} Baños
                            </div>
                            <br>
                            <p id="descripcion">{{ a.descripcion|slice:":180" }}...</p>
                            <div class="detalles">
                                {% with index=forloop.counter0|add:"-1" %}
                                <p>Precio total: {{ precio_total|index:index }}€</p>
                                <a href="{% url 'detalle_alojamiento' id=a.id %}" target="_blank">Ver detalles</a>
                                {% endwith %}
                            </div>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="alojamiento" value="{{ a.id }}" data-precio="{{ a.precio }}"
                                class="producto-checkbox" id="alojamiento">
                        </div>
                    </div> <br>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="subContenedor shadow">
                <div class="contenedor-wrapper">
                    <h1>Desplazamiento Ida</h1>
                </div>
                <div class="contenedor-wrapper">
                    <p class="sbTx">El desplazamiento es opcional*</p>
                    {% for d in desplazamientosOrigen %}
                    <div class="contenedor2 shadow">
                        <div class="col-4 photo">
                            <img src="/media/{{ d.foto }}" alt="">
                        </div>
                        <div class="col-7">
                            <b>
                                <h3>{{ d.nombre }}</h3>
                            </b>
                            <h4>{{ d.precio }}€ / persona</h4><br>
                            <p><b>- Tipo de Transporte: </b>{{ d.vehiculo }}</p>
                            <p><b>- Origen: </b>{{ d.origen }}</p>
                            <p><b>- Destino: </b>{{ d.destino }}</p>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="despIda" value="{{ d.id }}" data-precio="{{ d.precio }}"
                                class="producto-checkbox">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="subContenedor shadow">
                <div class="contenedor-wrapper">
                    <h1>Desplazamiento Vuelta</h1>
                </div>
                <div class="contenedor-wrapper">
                    <p class="sbTx">El desplazamiento es opcional*</p>
                    {% for d in desplazamientosDestino %}
                    <div class="contenedor2 shadow">
                        <div class="col-4 photo">
                            <img src="/media/{{ d.foto }}" alt="">
                        </div>
                        <div class="col-7">
                            <b>
                                <h3>{{ d.nombre }}</h3>
                            </b>
                            <h4>{{ d.precio }}€ / persona</h4><br>
                            <p><b>- Tipo de Transporte: </b>{{ d.vehiculo }}</p>
                            <p><b>- Origen: </b>{{ d.origen }}</p>
                            <p><b>- Destino: </b>{{ d.destino }}</p>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="despVuelta" value="{{ d.id }}" data-precio="{{ d.precio }}"
                                class="producto-checkbox">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% if paquetes%}
            <div class="subContenedor shadow">
                <div class="contenedor-wrapper">
                    <h1>Paquetes</h1>
                </div>
                <div class="contenedor-wrapper">
                    <p class="sbTx">El paquete es opcional*</p>
                    {% for p in paquetes %}
                    <div class="contenedor2 shadow">
                        <div class="col-4 photo">
                            <img src="/media/{{ p.foto }}" alt="">
                        </div>
                        <div class="col-7">
                            <h3>{{ p.nombre }}</h3>
                            <h4>{{p.precio}}€/persona</h4>
                            <p>{{ p.descripcion|linebreaksbr }}</p>
                        </div>
                        <div class="col-4 cbox">
                            <input type="checkbox" name="paquete" value="{{ p.id }}" data-precio="{{ p.precio }}"
                                class="producto-checkbox">
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            <input type="hidden" name="nHuespedes" value="{{ nHuespedes }}" id="nHuespedes">
            <input type="hidden" name="salida" value="{{ salida }}">
            <input type="hidden" name="llegada" value="{{ llegada }}">
            <input type="hidden" name="precioTotal" id="precioTotal">
            <input type="hidden" name="pagado" value="0">
            <div class="subContenedor shadow">
                <div class="contenedor22 shadow">
                    <h2>
                        <div id="total-container">Total: 0€</div>
                    </h2>
                    <div class="button-container">
                        <button type="submit" class="my-button">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
<script>
    $(document).ready(function () {
        $('.producto-checkbox').change(function () {
            var alojamientoPrecio = 0;
            var alojamientoSeleccionado = $('input[name="alojamiento"]:checked');

            if (alojamientoSeleccionado.length > 0) {
                alojamientoPrecio = parseFloat(alojamientoSeleccionado.data('precio'));
            }

            var nHuespedes = parseInt($('#nHuespedes').val()); // Obtener el número de huéspedes seleccionado
            var dias = 0;

            // Calcular el número de días entre salida y llegada
            var salida = new Date($('input[name="salida"]').val());
            var llegada = new Date($('input[name="llegada"]').val());
            dias = Math.ceil((llegada - salida) / (1000 * 60 * 60 * 24));

            // Calcular el precio total del alojamiento multiplicando por los días
            var alojamientoTotal = alojamientoPrecio * dias;

            // Calcular el precio total sumando los precios de los desplazamientos seleccionados
            var desplazamientoTotal = 0;
            $('input[name="despIda"]:checked, input[name="despVuelta"]:checked').each(function () {
                var precio = parseFloat($(this).data('precio'));
                if (!isNaN(precio)) {
                    desplazamientoTotal += precio;
                }
            });

            // Calcular el precio total sumando los precios de los paquetes seleccionados
            var paqueteTotal = 0;
            $('input[name="paquete"]:checked').each(function () {
                var precio = parseFloat($(this).data('precio'));
                if (!isNaN(precio)) {
                    paqueteTotal += precio;
                }
            });

            // Multiplicar el precio de los elementos no alojamiento por el número de huéspedes
            var elementosTotal = (desplazamientoTotal + paqueteTotal) * nHuespedes;

            // Calcular el precio total sumando el alojamiento y los elementos no alojamiento multiplicados por el número de huéspedes
            var total = alojamientoTotal + elementosTotal;

            // Actualizar el contenido del contenedor de total
            $('#total-container').text('Total: ' + total.toFixed(2) + '€');

            // Establecer el valor del campo de entrada "precioTotal"
            $('#precioTotal').val(total); // Establecer el valor con 2 decimales
        });
    });
    var maxCaracteres = 200;
    var miParrafo = document.getElementById("descripcion");

    if (miParrafo.textContent.length > maxCaracteres) {
        var textoRecortado = miParrafo.textContent.slice(0, maxCaracteres) + "...";
        miParrafo.textContent = textoRecortado;
    }

    function validarFormulario() {
        var alojamientoSeleccionado = $('input[name="alojamiento"]:checked');

        if (alojamientoSeleccionado.length === 0) {
            alert("Por favor, selecciona un alojamiento.");
            return false;
        }
    }
</script>

</html>