.formulario {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}

.formulario h2 {
  text-align: center;
}

.formulario form {
  text-align: center;
}

.formulario label,
.formulario input,
.formulario button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.formulario input,
.formulario button {
  padding: 5px;
}

.formulario button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #45a049;
}

.formulario input {
  width: 6vw;
}

.contenedor, .subContenedor {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

}

.subContenedor{
  background-color: rgba(255, 255, 255, 0.9);
}

.contenedor-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.contenedor2 {
  width: 100%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex
}

.contenedor2 .photo {
  flex: 0 0 40%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.carousel-item img {
  width: 23vw;
  height: 12vw;
  object-fit: cover;
}


.carousel-item {
  width: 23vw;
  height: 12vw;
  object-fit: cover;
}

.carousel-item {
  width: 23vw;
  height: 12vw;
  object-fit: cover;
}

.photo img{
  width: 18vw;
  height: 10vw;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

.cbox {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-13%, -10%);
  display: flex;
  align-items: center;
}

.cbox input[type="checkbox"] {
  transform: scale(2); /* Ajusta el valor para cambiar el tamaño del checkbox */
  margin-right: 10px; /* Espacio entre el checkbox y el texto, ajusta según tus necesidades */
}

.register{
  margin: auto;
}

.fondo {
  background-image: url(https://wallpapershome.com/images/wallpapers/lake-louise-3840x2160-4k-hd-wallpaper-sanada-travel-mountain-12772.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed; /* Agrega esta línea */
}

.fondo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(https://wallpapershome.com/images/wallpapers/lake-louise-3840x2160-4k-hd-wallpaper-sanada-travel-mountain-12772.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
}
.button-container {
  text-align: right;
  margin-top: 20px;
  width: 90%;
}

.my-button {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  border: none;
}

.my-button:hover {
  background-color: rgba(168, 168, 168, 0.9);
}


.info-piso {
  display: flex;
  align-items: center;
  font-size: 16px;
}
.info-piso .icoHuespedes{
  display: inline-block;
  margin-right: 5px;
  margin-left: 0px;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.info-piso .icoCamas,
.info-piso .icoBanos{
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.info-piso .icoCamas {
  background-image: url(../media/cama.png); /* Reemplaza con la URL de la imagen del icono de camas */
}

.info-piso .icoBanos {
  background-image: url(../media/banera.png); /* Reemplaza con la URL de la imagen del icono de baños */
}

.info-piso .icoHuespedes {
  background-image: url(../media/usuario.png); /* Reemplaza con la URL de la imagen del icono de huéspedes */
}

.navbar-brand{
  font-size: larger !important;
}