.formulario {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.formulario h2 {
  text-align: center;
}

.formulario form {
  text-align: center;
}

.formulario label,
.formulario input,
.formulario button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.formulario input,
.formulario button {
  padding: 5px;
}

.formulario button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #45a049;
}

.formulario input {
  width: 6vw;
}

.contenedor {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #FFF;
  margin-top: 20px;
}

.contenedor-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.contenedor2 {
  width: 100%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #FFF;
  display: flex
}

.contenedor2 .photo {
  flex: 0 0 40%;
  padding: 5px;
  display: flex;
  align-items: center;
}

.carousel-item img {
  width: 23vw;
  height: 12vw;
  object-fit: cover;
}


.carousel-item {
  width: 23vw;
  height: 12vw;
  object-fit: cover;
}

.carousel-item {
  width: 23vw;
  height: 12vw;
  object-fit: cover;
}

.photo img{
  width: 18vw;
  height: 10vw;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

.cbox input{
  margin: auto;
}

.register{
  margin: auto;
}
