@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

* {
  font-family: 'Nunito', sans-serif;
}


.formulario {
  width: 60%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.formulario h2 {
  text-align: center;
}

.formulario form {
  text-align: center;
}

.formulario label,
.formulario input,
.formulario button {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
}

.formulario input,
.formulario button {
  padding: 5px;
}

.formulario button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #45a049;
}

.formulario input {
  width: 6vw;
}

.contenedor,
.subContenedor {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;

}

.carousel-inner {
  border-radius: 7px;
}

.subContenedor {
  background-color: rgba(255, 255, 255, 0.7);
}

.contenedor-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.contenedor2,
.contenedor22 {
  width: 100%;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8);
  transform: translateX(-0.6rem);
}

.contenedor2 {
  height: 17vw;
}

.contenedor3,
.contenedor33 {
  background-color: rgba(255, 255, 255, 0.8);
  margin: 10px;
  padding: 20px;
  border-radius: 10px;

}

.contenedor33 {
  display: flex;
}

.text-contenedor {
  flex: 1;
}

.imagen-contenedor img {
  margin-right: 5px;
  padding-left: 25px;
  width: 19vw;
  border-radius: 5px;
}


.contenedor2 .photo {
  flex: 0 0 40%;
  padding: 5px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}

.carousel-1 img {
  width: 23vw;
  height: 15vw;
  object-fit: cover;
}

.carousel-1 {
  width: 23vw;
  height: 15vw;
  object-fit: cover;
}

.my-carousel {
  max-width: 600px;
  /* Ajusta el tamaño máximo deseado */
  margin: 0 auto;
  /* Centra horizontalmente el carousel */
}

.my-carousel .carousel-inner img {
  width: 100%;
  height: auto;
}

.photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #000;
}

.cbox {
  position: absolute;
  top: 0%;
  right: 0;
  transform: translate(10%, 0%);
  display: flex;
  align-items: center;
}

.cbox input[type="checkbox"] {
  transform: scale(2);
  /* Ajusta el valor para cambiar el tamaño del checkbox */
  margin-right: 10px;
  /* Espacio entre el checkbox y el texto, ajusta según tus necesidades */
}

.register {
  margin: auto;

}

.register tr td {
  width: min-content;
}

.register tr .iz {
  text-align: start;
}

.register input {
  width: 10vw;
}

.fondo {
  /*background-image: url(../media/cama.jpg);*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  background-attachment: fixed;
  /* Agrega esta línea */
}

.fondo::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-image: url(../media/cama.jpg);*/
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.button-container {
  text-align: right;
  margin-top: 20px;
  width: 90%;
}

.my-button {
  display: inline-block;
  padding: 14px 24px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: rgb(0, 0, 0);
  border: none;
}

.my-button:hover {
  background-color: rgba(168, 168, 168, 0.9);
}


.info-piso {
  display: flex;
  align-items: center;
  font-size: 16px;
}

.info-piso .icoHuespedes {
  display: inline-block;
  margin-right: 5px;
  margin-left: 0px;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.info-piso .icoCamas,
.info-piso .icoBanos {
  display: inline-block;
  margin-right: 5px;
  margin-left: 15px;
  width: 16px;
  height: 16px;
  background-size: cover;
}

.info-piso .icoCamas {
  background-image: url(../media/cama.png);
  /* Reemplaza con la URL de la imagen del icono de camas */
}

.info-piso .icoBanos {
  background-image: url(../media/banera.png);
  /* Reemplaza con la URL de la imagen del icono de baños */
}

.info-piso .icoHuespedes {
  background-image: url(../media/usuario.png);
  /* Reemplaza con la URL de la imagen del icono de huéspedes */
}

.navbar-brand {
  font-size: larger !important;
}
.contVolver{
  text-align: right !important;
}

.subContenedor .volver {
  margin-left: auto;
  color: rgba(0, 0, 0, 0.5);
}

.detalles {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
}

.tablaViajes {
  width: 100%;
}

.tablaViajes th,
td {
  width: 20%;
  text-align: center;
}

.sbTx {
  color: rgba(0, 0, 0, 0.5);
}

.contLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  transform: translateY(-10vh);
  font-size: 20px;
}

.contenedorCarousel {
  background-color: rgba(255, 255, 255, 0.7) !important;
  border-radius: 9px;
  margin-left: 9vw;
  margin-right: 9vw;
  padding: 15px;
}

.flechaIz a,
.flechaDr a {
  transform: translate(0%, 15%);
}

.btn {
  width: 8vw;
  font-size: 20px;
}

.tit {
  text-align: center;
}